<div class="card-game-container">
     <h1>
          Atexo Card Game
     </h1>
     <div class="card-deck-block">
          <div class="card-deck index{{ item }}" *ngFor="let item of [0, 1, 2, 3 ,4]">
               <div *ngIf="item === 0" class="card-deck__innerContent">
                    <p>
                         Atexo Playing Card Game
                    </p>
               </div>
          </div>
     </div>
     <div class="card-block">
          <div
               class="card-item-container"
               *ngFor="let item of cardDeck; let i = index"
               [ngClass]="
               {
                    'hidden' : i > 9
               }"
          >
               <div class="card-item"
               *ngIf="i < 10"
               [ngClass]="
               {
                    'red' : item.readableColor === '♦︎' || item.readableColor === '♥︎',
                    'hidden' : isShuffled == false
               }"
               >
                    <div class="card-item__corner">
                         <ul>
                              <li>
                                   {{ item.readableNumber }}
                              </li>
                              <li>
                                   {{ item.readableColor }}
                              </li>
                         </ul>
                    </div>
                    <div class="card-item__center">
                         {{ item.readableColor }}
                    </div>
                    <div class="card-item__corner card-item__corner--reverse">
                         <ul>
                              <li>
                                   {{ item.readableNumber }}
                              </li>
                              <li>
                                   {{ item.readableColor }}
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
     <div class="result-block">
          <button mat-raised-button color="primary" type="button" (click)="shuffleCardDeck()">
               Shuffle deck
          </button>
          <button mat-raised-button color="accent" type="button" (click)="sortingCards()">
               Sort cards
          </button>
     </div>
</div>
