////////////////////////////
///// COLOR VARIABLES /////
//////////////////////////

$white: #FFFFFF;
$black: #0f1515;
$grey: #232b2b;

$red: #b71540;
$blue: #4a69bd;
$lightBlue: #60a3bc;
$darkBlue: #3c6382;

////////////////////////////
/////// BREAKPOINTS ///////
//////////////////////////

$xs-max: 520px;

$sm-min: 768px;
$sm-max: 991px;

$md-min: 992px;
$md-max: 1199px;

$lg-min: 1200px;
